-
  pageTitle = 'C90新刊 はじめる React Native'
  pageId = 'index'
  pageUrl = 'c90/'
  pageDescription = 'React Nativeのはじめの一歩を網羅！ C90新刊「はじめる React Native」'
  shareText = pageDescription + ' ' + siteRootUrl + pageUrl

  catalogUrl = 'https://webcatalog.circle.ms/Circle/12703961'
  twitterShareUrl = 'https://twitter.com/intent/tweet?'
    + 'text=' + encodeURIComponent(shareText)
  facebookShareUrl = 'https://www.facebook.com/dialog/feed?'
    + 'app_id=' + encodeURIComponent(fbAppId)
    + '&display=popup&caption=' + encodeURIComponent(pageDescription)
    + '&link=' + encodeURIComponent(siteRootUrl + pageUrl)
    + '&redirect_uri=' + encodeURIComponent('https://www.facebook.com/')
  hatebuShareUrl = 'http://b.hatena.ne.jp/entry/' + siteRootUrl + pageUrl

doctype html
html(prefix='og: http://ogp.me/ns#')
  include _header.pug

  body(class='page-'+pageId)

    header
      .stripe
      .crest
      .ribbon
        object(type='image/svg+xml', data='images/ribbon.svg')
      .title
        object(type='image/svg+xml', data='images/title.svg')
      img.cover(src='images/cover.png')
      .credit Illust:&nbsp;
        a(href='https://twitter.com/eda_tori') 小枝あずき

    section.lead
      .l-container
        h2
          span.alphabet React Native
          | で<br/>
          | アプリ、作ってみませんか？
        p
          a(href='https://facebook.github.io/react-native/') React Native
          | とは、Facebookが開発を行っているスマートフォンアプリ開発用のUIフレームワークです。
          | React Nativeを使えば、まるでWebアプリを作っているような感覚で、JavaScriptを使ったアプリ開発を行うことができます。
          | しかも、内部ではOS標準のUIの管理を行っているので、ネイティブのアプリと全く見分けがつきません。
          | 本書には、そんなReact Nativeに入門するまでの内容をつめこみました。
          | 「はじめる React Native」を読んで、あなたもアプリ開発をはじめませんか？


    section.detail
      .l-container
        .l-row
          .l-span6.recommend
            h3 こんな人にオススメです
            ul
              li JavaScriptはそれなりに使えるけど､アプリ開発はさっぱり
              li React.jsに興味がある
              li JavaとSwiftどっちも覚えるなんて面倒だ
          .l-span6.toc
            h3 目次
            ol
              li まえがき
              li インストール
              li Reactブートキャンプ
              li React Nativeでのスタイル・レイアウト
              li React Nativeでのルーティング
              li 外部ライブラリを使ってみよう
              li リリース版のビルド
              li React Native API

    section.spec
      .sample
      .l-container
        .l-row
          .l-span6
            table
              tr
                th タイトル
                td はじめる React Native
              tr
                th 頒布場所
                td
                  | コミックマーケット90 3日目 8月14日(日)<br/>
                  strong 東ム-38b
                  a.btn(href=catalogUrl) Webカタログで見る
              tr
                th 頒布価格
                td
                  strong ¥1000<br/>
                  | (8月14日より電子書籍版を販売予定)
              tr
                th 仕様
                td
                  | B5 フルカラー 52ページ

    section.info
      .l-container
        .l-row
          .l-span6.share
            h3 このページを共有
            .btn-area
              a.btn.catalog(href=catalogUrl) Webカタログでお気に入りに追加
            .btn-area
              a.btn.twitter(href=twitterShareUrl) Twitterでツイート
            .btn-area
              a.btn.facebook(href=facebookShareUrl) Facebookでシェア
            .btn-area
              a.btn.hatebu(href=hatebuShareUrl) はてなブックマークに登録

          .l-span6.about
            h3 発行サークルについて
            p
              object(type='image/svg+xml', data='images/logo.svg', width=150, height=50)
            p
              | pentapodは、HN: 緑豆はるさめ (<a href="https://twitter.com/spring_raining">@spring_raining</a>) の個人サークルです。<br/>
              | HP:
              a(href='http://harusamex.com') http://harusamex.com<br/>
              | Mail:
              a(href='mailto:harusamex.com@gmail.com') harusamex.com@gmail.com
            p ©pentapod

    footer
      .l-container
        p.acknowledgement
          | Powered by&nbsp;
          span.invisible React Native
          a.react-logo(href='https://facebook.github.io/react-native/')

    include _footer.pug
